{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="mx-5 my-2">
    <form class = "choose-week">
      <label for="weeks">Выберите неделю отображения:</label>
      <div>
          <label for="date">Начало:</label>
          <input type="week" id="date"  name="date" value ={{current_week}}>
      </div>
      <div class="my-2">
          <button class="choose-btn" type="submit">Выбрать</button>
      </div>
    </form>
</div>
{% if week_orders %}
<div class="mx-5 my-1">
  <table class="table table-success table-bordered table-striped-columns table-hover align-middle">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Заказчики</th>
            <th>Сумма заказов</th>
        </tr>
    </thead>
    <tbody>
      {% for order in week_orders %}
      <tr>
          <td>{{ order.order_date }}</td>
          <td>{{ order.clients }}</td>
          <td>{{ order.sum_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
<div class="mx-5"><p>Заказы за выбранную неделю сделали следующие заказчики: {{ client_week }}.</p></div>
<div class="mx-5"><p>Общая сумма заказов за неделю: {{ amount_total }}.</p></div>
{% else %}
<div class="info">
    <p>На выбранной неделе заказов не сделано.</p>
</div>
{% endif %}
{% endblock  %}