{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<form class = "choose-week">
  <label for="weeks">Выберите неделю отображения:</label>
  <p>
      <label for="date">Начало: </label>
      <input type="week" id="date"  name="date" value ={{current_week}}>
  </p>
  <p>
      <button class="choose-btn" type="submit">Выбрать</button>
  </p>
</form>
{% if week_orders %}
<div>
  <table class="table table-success table-bordered table-striped-columns table-hover align-middle">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Заказчики</th>
            <th>Сумма заказов</th>
        </tr>
    </thead>
    <tbody>
      {% for order in week_orders %}
      <tr>
          <td>{{ order.order_date }}</td>
          <td>{{ order.clients }}</td>
          <td>{{ order.sum_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% else %}
<div class="info">
    <p>На выбранной неделе заказов не сделано.</p>
</div>
{% endif %}
{% endblock  %}