a {
	text-decoration: none;
}

.navbar {
	background: linear-gradient(90deg, #ffffff 10%, #079282 100%);
}

.navbar-brand img {
	width: 80px;
	height: 80px;
}

.nav-link:hover {
	color: rgba(4, 120, 155, 0.501);
}

.navbar-nav .nav-link.active {
	color: rgba(0, 42, 255, 0.897);
}

.btn-primary {
	background-color: rgba(4, 95, 78, 0.441);
}

.bd-footer {
	background-color: #25baa94e;
}

.table {
	font-size: 20px;
	text-align: center;
	table-layout:fixed;

}

.choose-week {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choose-btn {
	background-color: #0792825b;
	border-radius: 5px;
	border-color: #079282;
}

.info {
	font-size: 35px;
	text-align: center;
}

