.navbar {
	background: linear-gradient(90deg, #ffffff 10%, #079282 100%);
}

.navbar-brand img {
	width: 80px;
	height: 80px;
}

.nav-link:hover {
	color: rgba(4, 120, 155, 0.501);
}

.navbar-nav .nav-link.active {
	color: rgba(0, 42, 255, 0.897);
}

.btn-primary {
	background-color: rgba(4, 95, 78, 0.441);
}

.bd-footer {
	background-color: #25baa94e;
}
